/* reset code and common code starts here */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: "Open Sans", serif;
}

:root{
    --heading-font : "Cookie", serif;
    --subHeading-font : "Cardo", serif;
    --body-font : "Open Sans", serif;
    --transition : 0.5s;
    --brand-color: #E7272D;
    --primary-color : #fff;
    --secondary-color : #000;
    --tertiary-color: #848484;

}



.section-gap{
    margin-top: 80px;
}

.heading{
    display: block;
    font-family: var(--heading-font);
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
}

.sub-heading{
    font-family: var(--subHeading-font);
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 0.65rem;
    color: var(--secondary-color);
    line-height: 3.2rem;
}

.heading3{
    font-family: var(--subHeading-font);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.description {
    color: var(--tertiary-color);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 25px;
}

.btn-style{
    background-color: var(--brand-color);
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.9rem;
    border-radius: 0%;
    letter-spacing: 0.02rem;

    margin-top: 1.3rem;
    transition: var(--transition);
}

.section-mainHeading{
    font-family: var(--subHeading-font);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-top: 0.9rem;
}


/* reset code and common code ends here */


/* header starts here */
header {
    background-color: brown;
}

nav.scrolled{
    background-color: rgb(0, 0, 0);
}

.navbar-toggler{
    background-color: var(--primary-color);
    border: none;
    padding: 0.45rem 0.55rem;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler i {
    color: var(--secondary-color);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--brand-color);
}

nav .nav-link{
    transition: var(--transition);
    letter-spacing: 0.04rem;

    font-size: 0.85rem;
}

nav .nav-link:hover{
    color: var(--brand-color) !important;
    font-weight: 600;
}

.dropdown-menu{
    padding: 0rem ;
}

.dropdown-item{
    font-size: 0.75rem;
    color: #000;
    transition: var(--transition);
}

.dropdown-item:hover{
    color: var(--primary-color);
    background-color: var(--brand-color);
}

/* header ends here */


/* banne starts here */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#banner-slide1  {
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner-slide2  {
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner-slide3  {
    background-image: url(../images/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner-section .container .row .text-start{
    padding-top: 210px;
    padding-bottom: 230px;
}

#banner-section span{
    font-family: var(--heading-font);
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    display: block;
}

#banner-section .btn{
    background-color: var(--brand-color);
}

#banner-section .btn:hover{
    background-color: var(--secondary-color);
}

/* banner ends here */


/* intro starts here */

#intro{
    position: relative;
    z-index: 1;
}

#intro .col-md-4:nth-child(2)   {
    background-color: #F8F8F8;
}

#intro img{
    width: 20%;
    height: auto;
}

.intro-wrap{
    margin-top: -90px;
}

#intro .col-md-4 div{
    padding: 2.5rem 2.1rem;
}

/* intro ends here */


/* about starts here */
#about figure{
    overflow: hidden;
}

#about figure img{
    transition: var(--transition);
    cursor: pointer;
}

#about figure img:hover{
    transform: scale(1.25) rotate(10deg);
}
/* about  ends here */


/* cta starts here */
#cta{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.4)), url(../images/cta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}

#cta .cta-content{
    padding: 120px 0px;
}

#cta .heading{
    color: var(--primary-color);
    font-size: 1.7rem;
}

#cta .sub-heading{
    color: var(--primary-color);
}

#cta .btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#cta .btn:hover{
    background-color: var(--brand-color);
    color: var(--primary-color);
}

/* cta ends here */


/* menu starts here */

#menu .nav .nav-link{
    color: var(--tertiary-color);
    font-weight: 600;
    font-size: 1rem;
    line-height: 0.9rem;
}

#menu .nav-link:active{
    color: var(--brand-color);
}

#menu .nav .active{
    color: var(--brand-color);
}

#menu .nav .nav-link:hover{
    color: var(--brand-color);
}

#menu .d-flex {
    padding: 1rem;
    border: 0.00001rem dashed #c2c2c2;
}

#menu .d-flex h4 span, #main-dishes h4 span{
    color: var(--brand-color);
}

#menu .btn-style, #main-dishes .btn-style{
    background-color: var(--secondary-color);
}

#menu .btn-style:hover, #main-dishes .btn-style:hover{
    background-color: var(--brand-color);
}

.mix{
    display: none;
}
/* menu ends here */


/* intsta pictures starts here */
#instagram img{
    cursor: pointer;
}
/* insta pictures ends here */


/* footer starts here */
footer{
    background-color: #151515;
    padding-top: 40px;
}

footer .heading3{
    color: var(--primary-color);
}

footer .description{
    color: #98A1A1;
}

footer .description span{
    display: block;
    font-family: var(--subHeading-font);
}

footer .nav-link i{
    display: inline-block;
    color: #98A1A1;
    font-size: 0.85rem;
    margin-top: 0;
}

footer .nav-link{
    padding: 0.5rem;
}

footer .nav .nav-link i:hover{
    color: var(--brand-color);
}

footer .col-md-4:nth-child(2)  i {
    display: inline-block;
    font-size: 1rem;
    color: #98A1A1;
}

footer .col-md-4:last-child span{
    color: var(--primary-color);
    font-weight: 600;
}

footer .container-fluid   {
    background-color: #121212;
}

footer .container .nav .nav-link{
    transition: var(--transition);
}

footer .container .nav .nav-link:hover{
    color: var(--brand-color);
}

footer .contact-no .description{
    cursor: pointer;
    transition: var(--transition);
}

footer .contact-no .description:hover{
    color: var(--brand-color);
}
/* footer ends here */



/* about page starts here */
#about-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0,0,0.5)), url(../images/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about-banner h1{
    padding: 200px 0px;
}

#about-section span{
    display: block;
}

#about-section .booking p{
    background-color: var(--brand-color);
    display: inline-block;
    padding: 0.60rem 2.5rem;
    color: var(--primary-color);
    letter-spacing: 0.01rem;
    font-size: 1.1rem;
    margin-left: -50px;
}


#service i{
    font-size: 1.7rem;
    color: var(--tertiary-color);
    transition: var(--transition);
}

#service .col-md-4:hover i{
    color: var(--brand-color);
}

#service .heading3{
    font-size: 1.3rem;
}

/* about page ends here */


/* recipes page starts here */
#main-dishes{
    background-color: #F8F6F3;
    padding: 80px 0px;
}

#main-dishes .col-md-4 img{
    width: 100%;
    height: auto;
}

#main-dishes .col-md-4 div{
    padding: 10px;
    background-color: var(--primary-color);
}

#main-dishes .btn-style{
    background-color: var(--brand-color);
    color: var(--primary-color);
    margin-top: 0;
}

#main-dishes .btn-style:hover{
    background-color: var(--secondary-color);
}

/* recipes page ends here */


/* gallery starts here */


#gallery .col-md-4 div img{
    transition: var(--transition);
}

#gallery .col-md-4 div img:hover{
    filter: drop-shadow(8px 8px 10px gray);
}
/* gallery ends here */


/* reservation starts here */

#reservation form label{
    color: var(--tertiary-color);
    margin-bottom: 13px;
}

#reservation .form-control, #reservation .form-select{
    padding: 0.45rem 0.7rem;
    border-radius: 0;
}

#reservation form::placeholder{
    color: var(--tertiary-color);
}

#reservation button[type=submit]    {
    margin-top: 2rem;
    padding: 0.8rem 1.8rem;
    letter-spacing: 0.01rem;
    transition: var(--transition);
}

#reservation button[type=submit]:hover{
    background-color: var(--secondary-color);
}

#reservation .check-availability{
    padding: 2rem;
    box-sizing: border-box;
    background-color: #F8F6F3;
    border: 2px dashed var(--secondary-color);
}


#reservation .opening-time {
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
}

#reservation .heading:last-child{
    margin: 0;
}

#reservation .sub-heading:last-child{
    margin: 0;
}

#reservation .check-availability > div  {
    margin: 45px 0px 35px;
}

#reservation .check-availability > div .description {
    display: block;
    font-family: "Open Sans", serif;
}

/* reservation ends here */


/* cart page starts here */
#cart .cart-header{
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

#cart .heading3{
    font-size: 1rem;
    font-family: var(--body-font);
}


#cart .quantity-container, #cart .cart-product {
    margin-top: 30px;
}

#cart .quantity-btn {
    background-color: red;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart .quantity-input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    height: 25px;
    margin: 0px;
    
}

#cart .cancel-btn{
    display: inline-block;
    font-size: 2rem;
    color: var(--tertiary-color);
    transition: var(--transition);
    cursor: pointer;
    margin-top: 18px;
    font-weight: lighter;
}

#cart .cancel-btn:hover{
    color: var(--brand-color);
}


#cart .cart-product1, #cart .cart-product2,#cart .cart-product3{
    border-bottom: 1px solid #c2c2c2;
}

#cart .cuppon-input{
    border-radius: 0;
}

#cart .form-control{
    padding: 0.45rem 0.7rem;
    border-radius: 0;
}

#cart form::placeholder{
    color: var(--tertiary-color);
}

#cart .coupon{
    border-bottom: 1px solid #c2c2c2;
}


#cart form, #cart .coupon-btn ,#cart .update-btn{
    margin: 15px 0px;
}

#cart .coupon-btn, #cart .update-btn{
    border: 1px solid #c2c2c2;
    background-color: var(--primary-color);
    padding: 12px 20px;
    transition: var(--transition);
}

#cart .update-btn{
    border: 1px solid var(--brand-color);
}

#cart .coupon-btn:hover, #cart .update-btn:hover{
    background-color: var(--brand-color);
    color: var(--primary-color);
}

#cart .order-summery .heading3{
    font-family: var(--subHeading-font);
    border-bottom: 1px solid #c2c2c2;
}

#cart .summery{
    position: relative;
    border-bottom: 1px solid #c2c2c2;
}

#cart .summery .description{
    color: var(--secondary-color);
}

#cart .summery .amount{
    position: absolute;
    right: 0;
    color: var(--tertiary-color);
}

#cart .grand-total{
    border-bottom: none;
}

#cart .grand-total .amount{
    font-weight: 700;
    color: var(--secondary-color);
}


#cart .checkout-btn .btn{
    width: 100%;
    color: var(--primary-color);
}

#cart .checkout-btn .btn:hover{
    background-color: var(--secondary-color);
}

/* cart page end here */



/* contact starts here */

#contact form button[type=submit]   {
    color: var(--primary-color);
    transform: var(--transition);
}

#contact form button[type=submit]:hover{
    background-color: var(--secondary-color);
}


#contact form .form-control{
    border-radius: 0;
}

/* contact ends here */